@media(max-width: 1200px){
    header{
        height: auto;
        display: inline-table;

    }

    .contact-email .pic{
        font-size: 12vw;
        line-height: 13vw;
    }

    header .logo-img{
        width: 30vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
        position: static;
    }

    .header-wrap{
        display: none;
    }

    .header-mobile{
        display: block;
        transition: .5s;
    }

    .header-mobile.show .header-mobile-content{
        height:310px;
    }



    .content{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100%;
        width: 100%;
    }

    .content{
        height: 195vw;
    }

    .header-wrap{
        width: 100%;
    }

    .footer-content{
        width: 100%;
    }
/*
    .item{
        position: absolute;
        width: 23vw;
    }

    .item.first{
        left: 18vw;
        top: 25vw;
    }

    .item.second {
        right: 6vw;
        top: 60vw;
    }

    .item.third {
        right: 6vw;
        top: 115vw;
    }

    .item.fourth {
        left: 18vw;
        top: 160vw;
    }

    .item p {
        font-size: 3vw;
    }
*/
    footer{
        height: 30vw;
    }

    .footer-content{
        font-size: 6vw;
    }

    .footer-content p{
        /*margin: 5vw 0;*/
    }

    .footer-content ul li {
        display: inline-block;
        margin: 0 1vw;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        width: 5vw;
        height: 5vw;
        line-height: 5vw;
        font-size: 4vw;
        cursor: pointer;
    }

    .footer-content ul li img {
        height: 3vw;
        width: 2vw;
        display: inline-block;
    }

}

.notification{
    width: 200px;
    font-size: 14px;
}